<!--Theme section that lists all products of a specificied collection-->
<div id="collection-section">
  {% assign products = collections[section.settings.selected_collection].products | sort: 'title' %}
  {% for product in products %}
    <div>
      <a href="{{ product.url | within: collection }}">
        <img src="{{ product.featured_image.src | img_url: 'small' }}" alt="{{ product.featured_image.alt | escape }}">
      </a>
      <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
    </div>
  {% endfor %}

</div>
{% schema %}
  {
    "name": "Collection List",
    "settings": [
      {
       "type": "collection",
       "id": "selected_collection",
       "label": "Collection of products"
     }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
