<!--Modal using 'Jquery Modal' with stock and cart information-->
<div id="product-modal" class="modal">
  <div>
  {% assign total=0 %}
    {% for variant in product.variants %}
      {% capture i %}
        {{ total | plus:variant.inventory_quantity }}
      {% endcapture %}
      {% assign total = i %}
    {% endfor %}
  {% if total == 1 %}
  There is {{ total }} unit of <strong>{{product.title}}</strong> in stock
  {% else%}
  There are {{ total }} units of <strong>{{product.title}}</strong> in stock
  {% endif %}
  {% if product.has_only_default_variant == false %}
  <ul>
    {% for variant in product.variants %}
    <li>
        {{variant.title}}:{{variant.inventory_quantity}}
    </li>
    {% endfor %}
  </ul>
  {% endif %}
  </div>
  <div>
    {% if cart.item_count == 0 %}
    Your cart is currently empty.
    {% else %}
    You currently have {{cart.item_count}} items in your cart:
    <ul>
    {% for item in cart.items %}
        <li>
          {{item.title}} ({{item.quantity}})
        </li>
    {% endfor %}
    </ul>
    <p>sub total : {{ cart.total_price | money }}</p>
    {% endif %}
  </div>
</div>
<!-- end of modal-->

{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}
<img src="{{ featured_image | img_url: 'large' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg">
{% for image in product.images %}
  <a href="{{ image.src | img_url: 'large' }}">
    <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
  </a>
{% endfor %}
<h1>{{ product.title }}</h1>

<form enctype="multipart/form-data" id="AddToCartForm">
  <select name="id" id="productSelect">
    {% for variant in product.variants %}
      {% if variant.available %}
        <option value="{{ variant.id }}">
          {{ variant.title }} - {{ variant.price | money_with_currency }}
        </option>
      {% else %}
        <option value="{{ variant.id }}">
          {{ variant.title }} - sold out
        </option>
      {% endif %}
    {% endfor %}
  </select>

  {{ current_variant.price | money }}
  <label for="Quantity">quantity</label>
  <input type="number" id="Quantity" name="quantity" value="1" min="1">

  <button type="button" name="add" id="AddToCart" onclick="addToCart()">
    {% if current_variant.inventory_quantity < 5 && current_variant.inventory_quantity>0 %}
    Low stock
    {% else %}
    Add to cart
    {% endif %}

  </button>


</form>
<div>{{ product.description }}</div>

<script>


$('#product-modal').modal()

//Function to add products to the cart using the AJAX Shopify API
//It includes basic error and success handling using console.log
function addToCart () {
    $.post('/cart/add.js', $('#AddToCartForm').serialize(), (response)=>{
                  console.log(`The cart has ${response.quantity} unit${response.quantity==1?'':'s'} of ${response.product_title}`)
              },'json').fail((error)=>{
                  console.log(error.responseJSON.description)
              })
              }

//Function that checks the availability of the selected variant of the product
//and adds the 'no-stock' class to the "Add to cart" button if there is not availability
function updateButtonClass() {
      let selectedVariantId = $("#productSelect").val()
      let product = {{product | json}}
      let selectedVariant = product.variants.find(v=>v.id==selectedVariantId)
      $( "#AddToCart" ).toggleClass("no-stock",!selectedVariant.available)
      }

updateButtonClass()

$( "#productSelect" ).change(function() {
  updateButtonClass()
});

</script>
